/* For non-HTML5 browsers:
 * unknown elements are styled as display:inline by default */
section, article, aside, footer, header, nav, hgroup {
  display:block;
}

html {
  margin: 0;
  background: #fff url(/images/windrotate.png) repeat scroll center top;
  color: #333;
  line-height: 1.3;
  text-align: start;
}

::-moz-selection {
  color: #fff;
  background: #4682b4;
}

::selection {
  color: #fff;
  background: #4682b4;
}

a {
  text-decoration: none;
  color: #4682b4;
}

a:hover {
  text-decoration: underline;
}

blockquote,
dl,
ol,
ul,
p,
pre {
  margin: 0 0 1em;
  padding: 0;
  font: 1em/1.3 Ubuntu, "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, NSimSun, sans-serif;
}

ul, ol {
  list-style: none outside none;
}

p {
  word-spacing: 0;
  letter-spacing: normal;
  line-height: 1.57;
}

footer p, header p {
  margin: 0;
  font-size: .92em;
  color: #666;
}

code, pre {
  font: .95em/1.25 Consolas, "Bitstream Vera Sans Mono", Inconsolata, "Courier New", monospace;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word; /* wrap very_long_word */
}

figure {
  margin: 1em 2.5em;
}

figcaption {
  text-align: center;
}

body {
  background: #fff;
  position: relative;
  width: 56.47em;
  margin: .7353em auto;
  padding: 0 .7353em;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Arial, Helvetica, NSimSun, "Microsoft YaHei", sans-serif;
  font-size: 13.6px;
}

header {
  overflow: hidden;
}

header .logo {
  float: left;
  position: relative;
  margin: 0;
  font: 5.8824em/1 "Indie Flower", serif;
  -moz-user-select: none;
}

header .logo a {
  color: #333;
  -moz-transition-property: color, text;
  -moz-transition-duration: .25s;
  -moz-transition-timing-function: linear, ease-in;
  text-shadow: 0 .02941em .0441em #aaa, 0 -0.0147em .0147em #eee;
}

header .logo a:hover {
  color: #2e8b57;
  text-decoration: none;
}

#site-nav {
  float: right;
  -moz-user-select: none;
}

#site-nav > ul {
  font: 300 1.4118em/1.3 Ubuntu, sans-serif;
  padding: 0;
  margin: 0.625em 0;
}

#site-nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#site-nav li + li {
  margin-left: .4em;
}

#site-nav li a {
  padding: .1176em .3059em;
  color: #777;
}

#site-nav li a:hover {
  text-decoration: none;
  color: #333;
}

#site-nav li a.selected {
  color: #2e8b57;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  background: #f9f9f9;
}

#site-nav li a.selected:hover {
  color: #8fbc8f;
}

body > article {
  width: 38.8235em;
  float: left;
  margin: 0 .7352em .7352em 0;
  overflow: hidden;
  background: #ffffbb;
  padding: .7352em;
}

body > article > header {
  border-bottom: 1px solid #eea;
  margin-bottom: 1.1765em;
}

article h1 {
  font-family: "URW Palladio L", "Droid Serif", Georgia, Helvetica, Arial, "Microsoft YaHei", serif;
  font-size: 1.1765em;
  margin: .625em 0;
}

article > header h1 {
  font-size: 1.8824em;
  margin: .3907em 0;
}

article > section > h1 {
  font-size: 1.4118em;
  margin: .521em 0;
}

body > article img {
  max-width: 38.8235em;
}

img.left {
  float: left;
  margin-right: .7352em;
}

img.right {
  float: right;
  margin-left: .7352em;
}

body > article > footer {
  position: relative;
}
body > article > footer .tags {
  margin: 0 4em;
  text-align: center;
}
body > article > footer .prev {
  position: absolute;
  bottom: 0;
  left: 0;
}
body > article > footer .prev:before {
  content: "« ";
}
body > article > footer .next {
  position: absolute;
  bottom: 0;
  right: 0;
}
body > article > footer .next:after {
  content: " »";
}

body > aside {
  foat: left;
  overflow: hidden;
  padding: 0 .3676em;
  margin-bottom: .7352em;
}

body > aside > * {
  border: 1px solid #eea;
  padding: .4706em;
}

body > aside > nav:first-child {
  padding: 0;
  border: none;
}

body > aside > * + * {
  margin-top: .7352em;
}

body > aside > * > h1 {
  margin: 0;
  font: normal .9411em/1 Ubuntu, sans-serif;
  color: #777;
}

body > aside ol,
body > aside ul {
  margin: 0;
}

body > aside ul li:before {
  content: "» ";
}

body > footer {
  clear: left;
  padding: .3676em 0 .7352em;
  border-top: 1px solid #cccccc;
  color: #333;
  text-align: center;
}

body > footer a {
  color: #2e8b57;
}

article section h1:first-letter {
  text-decoration: overline;
}

/* sidebar: tag cloud */
#tag-cloud > ol {
  padding: 0;
  margin: 0;
  font: .9411em/1 Ubuntu, sans-serif;
}
#tag-cloud > ol li {
  display: inline;
}

.cloud-rank-1 {
  font-size: 1.7em;
  font-weight: bold;
}
.cloud-rank-2 {
  font-size: 1.6em;
  font-weight: bold;
}
.cloud-rank-3 {
  font-size: 1.5em;
  font-weight: bold;
}
.cloud-rank-4 {
  font-size: 1.4em;
  font-weight: bold;
}
.cloud-rank-5 {
  font-size: 1.3em;
  font-weight: bold;
}
.cloud-rank-6 {
  font-size: 1.2em;
}
.cloud-rank-7 {
  font-size: 1.1em;
}
.cloud-rank-8 {
  font-size: 1em;
}
.cloud-rank-9 {
  font-size: .9em;
}

/* sidebar: search */
#search > form {
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
}
#q {
  margin: 0;
  padding: .1em .4em;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border: 1px inset #f7f5f2;
  background: #fff;
  color: #bbb;

}
#q:focus {
  color: #666;
}
#search button {
  border: 1px outset #f7f5f2;
  background: transparent url(https://www.google.com/uds/css/small-logo.png) no-repeat scroll center center;
  width: 61px;
  display: block;
  text-indent: -999em;
  float: right;
}

/* page: archive, categories, tags */
article.tags > section ol,
article.archive > section ol,
article.categories > section ol {
  margin: 0 2.5em 0 1em;
}
article.tags > section li > time,
article.archive > section li > time,
article.categories > section li > time {
  float: right;
}
article.tags > section li:before,
article.archive > section li:before,
article.categories > section li:before {
  content: "◈";
  margin-right: .3em;
}
article.tags > section li:nth-child(2n),
article.archive > section li:nth-child(2n),
article.categories > section li:nth-child(2n) {
  background: #e6e6a8;
}
article.categories > section h1:after {
  content: " (" attr(data-count) ")";
}

