---
layout: default
---

<article{% if page.lang %} lang="{{ page.lang }}"{% endif %}>
  <header>
    <h1>{{ page.title }}</h1>{% if page.published %}
    <p>Published: <time pubdate datetime="{{ page.published }}">{{ page.published | date:"%A, %B %d, %Y" }}</time></p>{% endif %}{% if page.modified %}
    <p>Last modified: <time datetime="{{ page.modified }}">{{ page.modified | date:"%A, %B %d, %Y" }}</time></p>{% endif %}
  </header>
{{ content }}
<footer>{% capture n %}{{ page.tags | size }}{% endcapture %}{% if n != 0 %}
  <p class="tags">{% for tag in page.tags %}
  <a href="/tags#{{ tag }}">{{ tag | replace:'_',' ' }}</a>{% endfor %}
  </p>{% endif %}
  <p>{% if page.previous %}
  <a class="prev" href="{{ page.previous.url }}">prev</a>{% endif %}{% if page.next %}
  <a class="next" href="{{ page.next.url }}">next</a>{% endif %}
  </p>
</footer>
</article>
<aside>
{% include search.html %}{% include tags.html %}{% include recent.html %}</aside>
